################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/OSAssign5/v15/Browse.VC.opendb
/.vs/OSAssign5/v15/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/OSAssign5/v15/ipch/AutoPCH/1b584182f88418d3/PART2.ipch
/.vs/OSAssign5/v15/.suo
