################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/OSAssign5/v15/Browse.VC.opendb
/.vs/OSAssign5/v15/Browse.VC.db
